body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav {
  height: 100px;
}
h1 {
  font-size: 42px;
  color: #777777;
}
a {
  color: #0011bb;
}
a:visited {
  color: #6600cc;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
